body{
    background-color: darkgrey;
    line-height: 1vh;
}
.titulo{
    display: flex;
    line-height: 60px;
    flex-wrap: wrap;
    background-color: grey;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    border: 5px solid black;
    margin-bottom: 30px;
}
.proyectos{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.proyecto{
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 50px;
    line-height: 5px;
}
.definicion{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    line-break: 40px;
    line-height: 50px;
}
.btn{
    font-size: 50px;
}