body{
    background-color: darkgrey;
    line-height: 1vh;
}
.titulo{
    line-height: 10vh;
    background-color: grey;
    font-size: 10vh;
    text-align: center;
    border: 5px solid black;
    margin-bottom: 30px;
}
.proyecto{
    margin-left: 5vh;
    font-size: 5vh;
    line-height: 1vh;
}
.definicion{
    font-size: 5vh;
    line-height: 5vh;
}
.btn{
    font: size 5vh;
}